<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @post.nome %>
</p>

<p>
  <b>Tel:</b>
  <%= @post.tel %>
</p>

<p>
  <b>Comentario:</b>
  <%= @post.comentario %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
